/*
bhchp custom styles
*/

#page {
    color: $textgray;
    a {
        color: $blue;
    }
    #header {
        position:relative;
        padding-bottom:20px; 
        #logo { 
            float: left;
            img { width: 215px; }
        }
        .region-header {
            float: right; clear: none;
            margin-top:20px;
            .social-icons {
                float: right; font-size: 24px;
                margin: 0;
                ul {
                    margin: 0; padding: 0;
                    li {
                        list-style: none; float: left; 
                        padding: 0; margin: 0;
                        a { text-decoration: none; }
                    }
                }
            }
            .block-search {
                float: right; 
                padding-left: 10px; 
                border-left: 1px $blue solid;
                button {
                    background: none; border: none;
                    font-size:18px; padding-top:0;
                    color: $blue;
                }
                input[type=text] {
                    border: 1px $blue solid;
                    /*
                    position: absolute; top:15px; right: 0; 
                    */
                }
            }
            .block-menu-block {
                position: absolute; bottom: 20px; right: 10px; 
                margin:0;
                .menu {
                    li {
                        float: left; list-style: none;
                        margin-left: 20px; text-transform: uppercase;
                        a {
                            text-decoration: none;
                            &.active {
                                text-decoration: underline;
                            }
                        }
                        &#home-link {
                            width:24px; height:22px; overflow: hidden;
                            a {
                                color: #fff;
                                &:before {
                                    content: "\f015"; font-family: 'FontAwesome';
                                    font-size:24px; color: $blue;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #navigation {
        background-color:$blue; font-size:17px;
        &:before {
            content: ""; display: block; border-top: 1px #d8dad9 solid;
            height: 10px; background-color: #fff; margin: 0 -10px;
        }
        #main-menu {
            .links {
                display: block; text-align: center;
                li {
                   float: none; display: inline-block; 
                   border-right: 1px #0066cc solid;
                   a {
                       display: block; color: #fff; padding:30px;
                       text-decoration: none;
                       text-transform: uppercase; 
                       letter-spacing: 1px;
                       &:hover, &.active {
                           color: $lightblue;
                       }
                       &:before {
                           font-family: 'bhchp_icons'; font-size:20px;
                           display: inline-block; margin-right:20px;
                       }
                       &.donate:before { content: "\e601"; }
                       &.get-involved:before { content: "\e602"; }
                       &.services:before { content: "\e600"; }
                   }
                   &.last {
                       border: none;
                   }
                }
            }
        }
    }
    #main {
        h1, h2 {
            color: $blue;
        }
        h2, h3 {
            font-size:1rem; margin-bottom: 0;
        }
        p {
            margin-top: 0;
        }
        #content {
            img {
                padding: 5px;
                border: 1px #d8dad9 solid;
                &.img-left {
                    float: left; margin: 0 20px 0px 0;
                }
            }
            .feature {
                font-size: 15px; line-height: 22px; color: $blue;
                font-style: italic; font-weight: 700;
            }
            .quote {
                color: $blue; font-weight: 700;
                margin-left:20px; border-left: 1px $textgray solid;
                padding-left: 20px; font-style: italic;
            }
            // event gala stuff
            .view-eventslist {
                h2 { margin-top: 0; }
                .group-left {
                    width: 33%;
                }
                .group-right {
                    width: 67%; box-sizing: border-box; padding-left:20px;
                }
            }
            .node-type-event & {
                .field-name-field-event-mainimage {
                    position: relative; margin-bottom: 20px;
                    img {
                        width: 100%;
                    }
                    .caption {
                        position: absolute; bottom: 0;
                        background: rgba(0,0,0,.8);
                        color: #fff; padding: 10px 20px; 
                        width: 100%; box-sizing: border-box;
                    }
                }
                .field-name-field-event-datelocation {
                    font-weight: 700; margin-bottom:1em;
                }
                .field-name-field-sponsor-logos {
                    border-top: 1px $lightgray solid;
                    .field-items {
                        display: table;
                        .field-item {
                            display: table-cell;
                            padding-right:20px;
                        }
                    }
                }
            }
            .entityform {
                .form-type-radios {
                    .form-disabled {
                        display: none;
                    }
                }
                input[type=submit], button {
                    background-color: $blue; border: none;
                    color: #fff; text-transform: uppercase;
                    padding: 5px 10px;
                }
                fieldset {
                    padding: 0; margin: 0; border: none;
                    legend {
                        font-weight: 700; color: $textgray; 
                        a { text-decoration: none; color: $textgray; }
                    }
                }
            }
            // leadership staff list view
            .view-leadership-staff-list {
                .views-row {
                    padding-bottom: 1em; border-bottom: 1px $bordergray solid;
                    margin-bottom: 2em; clear: both;
                    &.views-row-last {
                        border: none;
                    }
                    @include clearafter();
                    .left, .right {
                        box-sizing: border-box;
                    }
                    .image {
                        img { box-sizing: border-box; }
                    }
                    .name, .email { font-weight: 700; }
                    .bio {
                        margin-top:1em; 
                        p { margin: 0 0 1em 0; }
                    }
                    @include breakpoint(minsmall) {
                        $zen-column-count: 4;
                        .left {
                            @include zen-grid-item(1, 1);
                        }
                        .right {
                            @include zen-grid-item(3, 2);
                            padding-left: 2em;
                        }
                    } 
                }
            }
            .view-locationlist {
                .views-row {
                    padding-bottom: 1.5em; border-bottom: 1px $bordergray solid;
                    margin-bottom: 1.5em; clear: both;
                    &.views-row-last {
                        border-bottom: none;
                    }
                    .views-field-title {
                        font-weight: bold;
                    }
                }
            }
        }
        
        
        .breadcrumb {
            padding: 0 10px; margin-bottom: 50px;
            color: $textgray;
            a {
                color: $textgray; text-decoration: none;
            }
        }
        .region-sidebar-first {
            .block-block, .block-views {
                background-color: $lightgray;
                padding:20px;
            }
            .block-menu-block {
                h2 {
                    font-size:13px; text-transform: uppercase;
                }
                .menu {
                    padding: 0; margin: 0;
                    li {
                        list-style: none;
                        padding: 0; margin: 0;
                        border-bottom: 1px #d8dad9 solid;
                        font-weight: 700; font-size:13px;
                        a {
                            display: block; padding: 5px 0;
                            text-decoration: none;
                            &:hover, &.active {
                                text-decoration: underline;
                            }
                        }
                        &.is-expanded {
                            > a {
                                &:after { content: "+"; float: right; }
                            }
                            &:hover, &.active-trail {
                                > a:after { content: ""; }
                                .menu { display: block; }
                            }
                        }
                        .menu {
                            margin-left: 20px; display: none;
                            li {
                                border:none;
                                font-weight: normal;
                                
                            }
                        }
                    }
                }
            }
        }
    }
}



// icon styles
[class^="bhchp_icons_"], [class*=" bhchp_icons_"] {
    font-family: 'bhchp_icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.bhchp_icons_stethoscope:before { content: "\e600"; }
.bhchp_icons_heart:before { content: "\e601"; }
.bhchp_icons_people:before { content: "\e602"; }
.bhchp_icons_meds:before { content: "\e603"; }
.bhchp_icons_medical:before { content: "\e604"; }
.bhchp_icons_sox:before { content: "\e605"; }
.bhchp_icons_fb:before { content: "\e606"; }
.bhchp_icons_video:before { content: "\e607"; }
.bhchp_icons_twitter:before { content: "\e608"; }
.bhchp_icons_gift:before { content: "\e609"; }
.bhchp_icons_apple:before { content: "\e60a"; }