/*
bhchp custom styles
*/

#page {
    color: $textgray;
    a {
        color: $blue;
    }
    .social-icons { 
        ul {
            margin: 0; padding: 0; font-size: 24px;
            li {
                list-style: none; float: left; 
                padding: 0; margin: 0;
                a { 
                    text-decoration: none; 
                    &:hover { color: $lightblue; }
                }
            }
        }
    }
    input[type=submit], button, a.button, .button a  {
        background-color: $blue; border: none;
        color: #fff; text-transform: uppercase; border-radius: 0;
        padding: 5px 10px;
        -webkit-appearance: none; -moz-appearance: none;
        text-decoration: none;
        &:hover {
            background-color: #4f71b7;
        }
    }
    a.button.white, .button.white a {
        border: 1px $bordergray solid; 
        font-weight: 700; 
        background-color: #fff;
        color: $blue;
        &:hover {
            background-color: $blue; 
            color: #fff; border-color:$blue;
        }
    }
    #header {
        position:relative;
        padding-bottom:20px; 
        border-bottom: 1px #d8dad9 solid;
        
        #logo { 
            margin-top:13px;
            img { width: 215px; }
        }
        .region-header {
            margin-top:20px;
            .block-search {
                float: right; 
                padding-left: 10px; 
                border-left: 1px $blue solid;
                margin-bottom:35px;
                button {
                    background: none; border: none;
                    font-size:18px; padding-top:0;
                    color: $blue;
                }
                input[type=text] {
                    border: 1px $blue solid;
                    /*
                    position: absolute; top:15px; right: 0; 
                    */
                }
            }
            ul.menu {
                margin: 0;
                li {
                    list-style: none;
                    a {
                        text-decoration: none;
                    }
                }
            }
            .top-menu {
                float: right; margin: 0;
                .menu {
                    margin: 0;
                    li {
                        float: left; list-style: none;
                        margin-left: 20px; text-transform: uppercase;
                        a {
                            text-decoration: none;
                            &.active, &:hover {
                                text-decoration: underline;
                            }
                        }
                        &#home-link {
                            width:24px; height:22px; overflow: hidden;
                            a {
                                color: #fff;
                                &:before {
                                    content: "\f015"; font-family: 'FontAwesome';
                                    font-size:24px; color: $blue;
                                }
                                &:hover:before { color: $lightblue; }
                            }
                        }
                        &#patient-portal {
                            a {
                                background-color: $green; padding: 5px 10px;
                                color: #fff; 
                                &:hover { background-color: #6abe45; text-decoration: none; }
                            }
                        }
                    }
                }
            }
            .block.patient-portal {
                float: right; margin:0 0 0 20px;
                padding: 0;
                p { margin: 0; }
                .button {
                    background-color: $green;
                }
            }
        }
        @include breakpoint(maxsmall) {
            position:fixed; top:0; z-index:4; background-color:#fff; width:100%;
            margin-bottom:0; height: 174px; padding: 0 50px;
            #logo { float: none; display: block; }
            .region-header {
                .block-search { display: none; }
                .social-icons { float:left; }
                .top-menu {
                    display: none;
                }
                .mobile-menu {
                    position: absolute; top: 0; left: 0;
                    width: 100%; z-index: 2;
                    .block-title {
                        cursor: pointer; visibility: hidden;
                        &:before {
                            content: "\f0c9"; font-size: 24px; font-family: 'FontAwesome';
                            color: $blue; cursor: pointer;
                            position: absolute; top:20px; right: 20px;
                            visibility: visible;
                        }
                    }
                    
                    .inside {
                        display: none;
                        position: fixed; top: 0; left: -50px; padding:20px 20px 20px 70px;
                        width: 100%; height: 100%; background-color: $textgray;
                        box-sizing: border-box;
                    }
                    .close-link {
                        font-size: 10px; 
                        color: #ff0000; cursor: pointer;
                        position: absolute; top:20px; right: 20px;
                        p { margin: 0; }
                    }
                    &.menu-active {
                        .inside {
                            display: block;
                        }
                    }
                    ul.menu {
                        padding: 0;
                        li {
                            float: none; list-style: none; text-transform: uppercase;
                            font-weight: 600;
                            a { color: #fff; text-decoration: none; }
                            .menu {
                                padding-left: 20px;
                                display: none;
                                li {
                                    text-transform: none; 
                                    ul li {
                                        font-weight: normal;
                                    }
                                }
                            }
                            &.is-expanded {
                                > a {
                                    &:after { content: "+"; padding-left:5px; }
                                }
                                &:hover, &.active-trail {
                                    > a:after { content: ""; }
                                    .menu { display: block; }
                                }
                            }
                            &#home-link {
                                border-bottom:1px #fff solid;
                                margin-bottom:5px; padding-bottom: 5px;
                            }
                        }  
                    }
                    li {
                        &#patient-portal { display: block; }
                    }
                    .footer-menu-mobile {
                        margin-top:5px; padding-top: 5px;
                        border-top:1px #fff solid;
                    }
                }
            }
        }
        @include breakpoint(minsmall) {
            .region-header {
                float: right; clear: none;
                .social-icons {
                    float: right;
                }
            }
            .mobile-menu {
                display: none; 
            }
            .block.patient-portal {
                clear: both; 
            }
            
        }
    }
    #navigation {
        background-color:$blue; font-size:17px; margin-top:10px;
        padding: 0;
        #main-menu {
            .links {
                display: block; text-align: center;
                li {
                    float: none; 
                    a {
                       display: block; color: #fff; padding:30px;
                       text-decoration: none;
                       text-transform: uppercase; 
                       letter-spacing: 1px;
                       &:hover, &.active {
                           color: $lightblue;
                       }
                       &:before {
                           font-family: 'bhchp_icons'; font-size:20px;
                           display: inline-block; margin-right:20px;
                       }
                       &.donate:before { content: "\e601"; }
                       &.get-involved:before { content: "\e602"; }
                       &.services:before { content: "\e600"; }
                    }
                    &.last {
                       border: none;
                    }
                }
            }
        }
        @include breakpoint(maxsmall) {
            margin-top: 184px;
            .links {
                li {
                    display: block; border-bottom: 1px #0066cc solid;
                }
            }
        }
        @include breakpoint (minsmall) {
            .links {
                li {
                    display: inline-block; border-right: 1px #0066cc solid;
                }
            }
        }

    }
    .entityform {
        .form-type-radios {
            .form-disabled {
                display: none;
            }
        }
        
        input[type=text] {
            border: 1px $bordergray solid;
            padding: 5px 10px;
        }
        fieldset {
            padding: 0; margin: 0; border: none;
            legend {
                font-weight: 700; color: $textgray; 
                a { text-decoration: none; color: $textgray; }
            }
        }
    }
    #main {
        padding-top: 10px;
        h1, h2 {
            color: $blue;
        }
        h2, h3 {
            font-size:1rem; margin-bottom: 0;
        }
        p {
            margin-top: 0;
        }
        h1.page__title { margin-bottom: 1em; }
        #content {
            padding-bottom: 20px;
            a { 
                text-decoration: none;
                &:hover { text-decoration: underline; }
            }
            a.button, .button a {
                &:hover { text-decoration: none; }
            }
            .icon a {
                &:hover { text-decoration: none; color: $lightblue; }
            }
            .block-bhchp-backtoparent {
                margin-top: 40px; font-weight: bold;
            }
            // image styling in content
            img.img-border, .img-border img, .view-patient-stories img,
            .field-name-field-patientstory-mainimage img
            {
                padding: 5px;
                border: 1px #d8dad9 solid;
                box-sizing: border-box;
            }
            .img-left {
                float: left; margin: 0 20px 0px 0;
            }
            .img-right {
                float: right; margin: 0 0 0 20px;
            }
            .node {
                .group-left, .group-right {
                    box-sizing: border-box;
                }
                .group-left {
                    padding-right: 20px; 
                }
                &.node-job-posting {
                    .field {
                        margin-bottom: 20px;
                    }
                }
            }
            .feature {
                font-size: 15px; line-height: 22px; color: $blue;
                font-style: italic; font-weight: 700;
            }
            .quote {
                color: $blue; font-weight: 700;
                margin-left:20px; border-left: 1px $textgray solid;
                padding-left: 20px; font-style: italic;
            }
            .border-list {
                padding: 0; margin: 0;
                li {
                    list-style:none; 
                    padding: 10px 0; border-bottom: 1px $bordergray solid;
                    &.last { border: none; }
                }
            }
            .bigtext {
                font-size: 17px; font-weight: 700; 
            }
            .bhchp-icons {
                font-size: 24px; color: $lightblue;
            }
            
            // event gala stuff
            .view-eventslist {
                h2 { margin-top: 0; }
                .group-left {
                    width: 33%;
                }
                .group-right {
                    width: 67%; 
                }
            }
            .node-type-event & {
                .field-name-field-event-mainimage {
                    position: relative; margin-bottom: 20px;
                    img {
                        width: 100%;
                    }
                    .caption {
                        position: absolute; bottom: 0;
                        background: rgba(0,0,0,.8);
                        color: #fff; padding: 10px 20px; 
                        width: 100%; box-sizing: border-box;
                    }
                }
                .field-name-field-event-datelocation {
                    font-weight: 700; margin-bottom:1em;
                }
                .field-name-field-sponsor-logos, .field-name-field-event-geomap {
                    border-top: 1px $lightgray solid;
                    margin: 0; padding: 20px 0;
                }
                .field-name-field-sponsor-logos {
                    .field-items {
                        display: table;
                        .field-item {
                            display: table-cell;
                            padding-right:20px; vertical-align: middle;
                            img {
                                max-width: 200px;
                            }
                            
                        }
                        /* four items */
                        .field-item:nth-child(1):nth-last-child(4) img,
                        .field-item:nth-child(2):nth-last-child(3) img,
                        .field-item:nth-child(3):nth-last-child(2) img,
                        .field-item:nth-child(4):nth-last-child(1) img {
                            max-width: 150px;
                        }
                    }
                }
            }
            // standard content view list styling
            .view {
                .views-row {
                    padding-bottom: 1em; border-bottom: 1px $bordergray solid;
                    margin-bottom: 2em; clear: both;
                    @include clearafter();
                    &.views-row-last {
                        border: none;
                    }
                    h2 {
                        margin: 0; line-height: normal;
                    }
                    .left, .right {
                        box-sizing: border-box;
                    }
                    img { box-sizing: border-box; }
                    .views-field-title, .field-name-title {
                        font-weight: 700; 
                        a { 
                            text-decoration: none; 
                            &:hover { text-decoration: underline; }
                        }
                    }
                    .views-label {
                        float: left; padding-right: 5px; font-weight: 700;
                    }
                    .field-name-body {
                        margin-top:10px;
                        p { margin: 0; display: inline; }
                        a { font-weight: 700; }
                    }
                    .field-name-node-link {
                        a { font-weight: 700; }
                    }
                }
                
            }
            .node-patient-story {
                .field-name-body {
                    margin-top:1em; 
                    p { margin: 0 0 1em 0; }
                }
            }
            // leadership staff list view, patient stories list 
            // news list
            .view-leadership-staff-list, .view-patient-stories {
                .views-row {
                    .name, .email { font-weight: 700; }
                    .bio, .field-name-body {
                    }
                    @include breakpoint(minsmall) {
                        $zen-column-count: 4;
                        .left, .group-left {
                            @include zen-grid-item(1, 1);
                            padding-right:20px;
                        }
                        .right, .group-right {
                            @include zen-grid-item(3, 2);
                        }
                    } 
                }
            }
            .view-locationlist {
                .views-row {
                }
            }
            .view-news-list, .node-article {
                .field-name-author {
                    float: left; 
                    font-style: italic; 
                    .field-item:after { 
                        content: ", "; display: inline-block;
                        padding-right: 5px; margin-left: -2px;
                    }
                }
                @include breakpoint(minsmall) {
                    $zen-column-count: 3;
                    .left, .group-left {
                        @include zen-grid-item(1, 1);
                    }
                    .right, .group-right {
                        @include zen-grid-item(2, 2);
                    }
                } 
                .view-footer {
                    .button {
                        display: block; float: right;
                    }
                    @include clearafter();
                }
            }
            .front & {
                .views-news-list {
                    border-bottom: 1px $bordergray solid; padding-bottom: 2em;
                    .views-row { 
                        border: none; padding-bottom: 0; margin-bottom: 0;
                    }
                }
                
            }
            // publications list
            .view-publications-list {
                .views-row {
                    border-bottom: none;
                    .views-column {
                        padding: 0 20px 0 0; box-sizing: border-box;
                        .views-field-field-image {
                            img {
                                box-shadow: 5px 5px 5px rgba(102, 102, 102, 0.4);
                            }
                        }
                        .views-field-title {
                            margin-top: 10px; font-weight: 700; 
                            a { text-decoration: none; }
                        }
                    }
                    @include breakpoint(minsmall) {
                        $zen-column-count: 3;
                        .views-column-1 {
                            @include zen-grid-item(1, 1);
                        }
                        .views-column-2 {
                            @include zen-grid-item(1, 2);
                        }
                        .views-column-3 {
                            @include zen-grid-item(1, 3);
                        }
                    } 
                }
            }
            .timelineCard {
                .timeline_line {
                    width: 90%;
                    .t_line_view {
                        width: 460px;
                        .t_line_m { 
                            width: 229px;
                            &.right { left: 229px; }
                        }
                        .t_line_month_year {
                            display: inline-block; margin-left:5px;
                        }
                    }
                    .t_node_desc { background: $blue; }
                    a.t_line_node { 
                        background: none;
                        &:before { 
                            content: "\f111"; font-family: 'FontAwesome'; color: $textgray; 
                            font-size:10px; position: absolute; top:21px;
                            &:hover {
                                color: $blue;
                            }
                        }
                    }
                }
                .timeline_items_wrapper {
                    .t_controles {
                        color: $blue;
                        .t_left, .t_right { 
                            background: none; font-family: 'FontAwesome';  
                            font-size:60px;
                        }
                        .t_left:before {
                            content: "\f104"; 
                        }
                        .t_right:before {
                            content: "\f105"; 
                        }
                    }
                }
                
                
            }
        }
        
        .breadcrumb {
            padding: 0 10px; 
            color: $textgray;
            a {
                color: $textgray; text-decoration: none;
            }
        }
        .region-sidebar-first {
            .block-block, .block-views, .block-panels-mini {
                background-color: $lightgray;
                padding:20px;
            }
            .testimonial {
                p { 
                    margin: 0; 
                    &:before { content: "\201C"; }
                    &:after { content: "\201D"; }
                }
                .block__title { color: $textgray; }
                .views-field-field-testimonial-name { font-weight: bold; margin-top:10px; }
            }
            .social-feed-blocks {
                .block-title { display:none; }
                .panel-pane:not(:last-child) {
                    margin-bottom: 30px;
                }
            }
            .block-menu-block {
                h2 {
                    font-size:13px; text-transform: uppercase;
                }
                .menu {
                    padding: 0; margin: 0;
                    li {
                        list-style: none;
                        padding: 0; margin: 0;
                        border-bottom: 1px #d8dad9 solid;
                        font-weight: 700; font-size:13px;
                        a {
                            display: block; padding: 5px 0;
                            text-decoration: none;
                            &:hover, &.active {
                                text-decoration: underline;
                            }
                        }
                        &.is-expanded {
                            > a {
                                &:after { content: "+"; float: right; }
                            }
                            &:hover, &.active-trail {
                                > a:after { content: ""; }
                                .menu { display: block; }
                            }
                        }
                        .menu {
                            margin-left: 20px; display: none;
                            li {
                                border:none;
                                font-weight: normal;
                                
                            }
                        }
                    }
                }
            }
        }
        @include breakpoint(maxsmall) {
            padding: 20px;
        }
        @include breakpoint(minsmall) {
            .breadcrumb {
                margin-bottom: 50px;
            }
        }
    }
    .view-id-videos_gallery td {
        width: 24%;
        vertical-align: top;
    }
    #footer {
        background-color: $lightgray; 
        .inner { padding: 0 10px; box-sizing: border-box; }
        .block-menu-block {
            clear: both; padding: 10px 0; 
            border-top: 1px $bordergray solid; border-bottom: 1px $bordergray solid;
            .menu {
                margin: 0; padding: 0;
                @include clearafter();
                li { 
                    float: left; list-style: none; text-transform: uppercase; 
                    font-weight: 700; margin: 0 20px 0 0; padding: 0;
                    a { 
                        text-decoration: none;
                        &.active, &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        @include breakpoint(maxsmall) {
            .social-icons, .block-menu-block {
                display: none;
            }
        }
        @include breakpoint(minsmall) {
            .footer-address {
                float: left; width: 35%;
            }
            .footer-email-signup {
                float: left; width: 40%;
            }
            .social-icons { 
                float: right; 
            }
        }
    }
}

// social feed block styles
.social-feed-blocks {
    p { margin: 0; }
    .views-field-nothing {
        font-size: 20px;
        a, a:hover { text-decoration: none; }
    }
    .views-field-created, .views-field-created-time {
        font-weight: 600; margin-bottom: 15px;
    }
    .views-field-body, .views-field-text, .views-field-field-video {
        clear: both;
    }
    a.button, .button a {
        font-size: 8px; display: inline-block; margin-top:10px;
    }
    .sidebar-first & {
        .views-field-nothing {
            float: left; 
        }
    }
    .front #page #main #content & {
        .views-row {
            margin: 0; padding: 0;
        }
        .views-field-nothing {
            text-align: center; margin-bottom:20px;
        }
        .views-field-created, .views-field-created-time {
            display: none;
        }
        .view-videos-gallery {
            .views-field-field-video { width: 40%; float: left; margin-right:-60%; }
            .views-field-body, .views-field-view-node {
                clear: none; width: 60%; margin-left:40%; float: left;
                padding-left:10px; box-sizing: border-box;
            }
            
        }
        @include breakpoint(minsmall) {
            .inside {
                $zen-column-count: 3;
                .panel-pane {
                    width: 33%; float: left; box-sizing: border-box;
                    padding-right:20px;
                    &:last-child {
                        padding: 0;
                    }
                }
                
            }
            
            
        }
    }
}

// home page styles
.front {
    #page {
        .breadcrumb, h1.title { display: none; }
        #navigation {
            background: none; position: relative; padding: 0; 
            &:before { display: none; }
            #main-menu {
                max-width: 1200px;
                background: $blue;
                .links {
                    text-align: left;
                    li {
                        display: block; border-bottom: 1px #0066cc solid;
                        border-right: none;
                        &.last {
                            border-bottom: none;
                        }
                    }
                }
            }
            .region-navigation {
                width: 100%; box-sizing: border-box; 
                margin: 0;
                .flexslider {
                    padding: 0; border: 0; border-radius: 0; box-shadow: none;
                    margin: 0;
                    .home_bk_img {
                        height:100%;
                        width:100%;
                        background-size: cover; background-position-y: center;
                        .title { display: none; }
                    }
                    
                    .flex-control-nav {
                        right: 20px; width: auto;
                        bottom: 20px; z-index: 3;
                        li {
                            a { 
                                color: #868687; background: #868687;
                                &.flex-active { color: #fff; background: #fff; }
                            }
                        }
                    }
                }
            }
            @include breakpoint(maxsmall) {
                #main-menu {
                    .links {
                        margin-top:130px;
                    }
                }
                .region-navigation {
                    position: absolute; top:0; height:130px;
                    .flexslider {
                        .home_bk_img {
                            height: 130px; width:100%;
                        }
                    }
                }
            }
            @include breakpoint(minsmall) {
                #main-menu {
                    position: absolute; right: 0; top: 0;
                    width: 245px; box-sizing: border-box;
                    height:375px;
                    .links {
                        a {
                            padding: 50px 30px;
                        }
                    }
                }
                #navigation {
                    margin: 0;
                }
                .region-navigation {
                    padding: 0 245px 0 0; 
                    .flexslider {
                        .home_bk_img {
                            width: 100%; height: 375px; 
                        }
                    }
                }
            }
        }
        #main {
            #content {
                #thirty-years {
                    float:left; margin-right: 20px;
                    position:relative; z-index:2;
                    border: none;
                }
                article.node {
                    .field-name-body {
                        font-size: 15px; line-height: 25px;
                    }
                    .feature {
                        color: $textgray; font-style: normal; font-size: 19px;
                    }
                }
                
                .block {
                    .block__title {
                        color: $textgray; text-transform: uppercase;
                        font-size:17px; position: relative; margin-bottom: 20px;
                        overflow-x: hidden;
                        &:after { 
                            content: ""; height: 2px; position: absolute;
                            width: 100%; top:15px; border-top:1px $bordergray solid;
                            margin-left: 10px;
                        }
                    }
                    // homepage news stying
                    .view-news-list {
                        .views-row {
                            border: none;
                        }
                        .field {
                            margin: 0 0 5px 0;
                            h2, p { margin: 0; display: inline; line-height: normal; }
                            a { text-decoration: none; font-weight: 700; }
                        }
                    }
                    // sponsor styling
                    .view-sponsor-logos {
                        overflow-x: hidden; 
                    }
                    .jcarousel-container {
                        ul {
                            li {
                                display: table; height:100px;
                                .views-field { 
                                    display: table-cell; vertical-align: middle;
                                    padding: 0 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
}


// icon styles
[class^="bhchp_icons_"], [class*=" bhchp_icons_"] {
    font-family: 'bhchp_icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
}
.bhchp_icons_stethoscope:before { content: "\e600"; }
.bhchp_icons_heart:before { content: "\e601"; }
.bhchp_icons_people:before { content: "\e602"; }
.bhchp_icons_meds:before { content: "\e603"; }
.bhchp_icons_medical:before { content: "\e604"; }
.bhchp_icons_sox:before { content: "\e605"; }
.bhchp_icons_fb:before { content: "\e606"; }
.bhchp_icons_video:before { content: "\e607"; }
.bhchp_icons_twitter:before { content: "\e608"; }
.bhchp_icons_gift:before { content: "\e609"; }
.bhchp_icons_apple:before { content: "\e60a"; }